mat-form-field{
  width:100%;
}
mat-spinner {
  margin: auto;
}
.role-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.role-radio-button {
  margin-right: 10px;
}
mat-radio-button{
  margin-right: 10px;
}
