<div class="farm-list-container" *ngIf="farmsList.length > 0">
  <mat-card
    class="farm-card"
    appMaterialElevation
    defaultElevation="2"
    raisedElevation="16"
    *ngFor="let farm of farmsList"
  >
    <img mat-card-image src="../../../assets/farm.png" alt="Photo of a plant" />
    <button class="edit-icon" mat-icon-button><mat-icon>edit</mat-icon></button>
    <mat-card-content>
      <p class="farm-name">
       {{ farm.name }}
      </p>
      <p class="farm-sub-details">
       <span class="farm-detail-field-label"> Crop Type </span><br />
        <span class="farm-detail-field-value">{{ farm.cropType.toUpperCase() }}</span><br />
        <span *ngIf="farm.area > 0">
            <span class="farm-detail-field-label">Area </span><br />
          <span class="farm-detail-field-value">{{ farm.area.toPrecision(5) }} m<sup>2</sup> </span></span
        ><br />
        <span
          *ngIf="farm.startDate != null && farm.endDate != null"
          class="farm-detail-field-date"
          > <span class="farm-detail-field-label">Period </span><br />
          <span class="farm-detail-field-value"> {{ farm.startDate }} - {{ farm.endDate }}</span>
        </span>
      </p>
    </mat-card-content>
  </mat-card>
</div>
