<div class="farm-list-container" *ngIf="farmsList.length > 0">
<mat-card class="farm-card" appMaterialElevation defaultElevation=2 raisedElevation="16" *ngFor="let farm of farmsList">
    <img mat-card-image src="../../../assets/farm.png" alt="Photo of a plant">
    <button class="edit-icon" mat-icon-button><mat-icon>edit</mat-icon></button>
    <mat-card-content>
      <p class="farm-detail-field">{{ farm.cropType.toUpperCase() }}</p>
      <p *ngIf = "farm.area > 0" class="farm-detail-field">{{ farm.area.toPrecision(5) }} m<sup>2</sup> </p>
      <p *ngIf = "farm.startDate != null && farm.endDate != null" class="farm-detail-field-date">{{ farm.startDate }} - {{ farm.endDate }} </p>
    </mat-card-content>
  </mat-card>
</div>
