<div class="farm-list-container">
<mat-card class="farm-card">
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->
    <img mat-card-image src="../../../assets/farm.png" alt="Photo of a plant">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>EDIT</button>
      <button mat-button>DELETE</button>
    </mat-card-actions>
  </mat-card>
