.mat-card{
  border-radius:0px;
}
.farmer-image{
  background-color: green;
}
.spacer {
  flex: 1 1 auto;
}
app-farms-list{
  margin-top: 1rem;
  margin-left: 1rem;
}
app-farm-add{
  margin-top:1rem;
  width: 80%;
}
.actions-container{
  margin: 1rem;
}
.align-right{
  float:right;
}
mat-spinner{
  margin: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}
