mat-card{
  width:8rem;
  height:12rem;
  background-color: white;
  color:black;
  margin:1rem;
}
.farm-add-card{
  background-image: url('../../../assets/farm.png');
  width: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  color:white;
  position: relative;
  text-align: center;
}
.farm-add-card:hover{
  opacity: 0.9;
}
.centered {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.insurance-list-container{
  display:flex;
  width:100%;
  padding: 1rem;
}
mat-card .farm-add-img{
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 100%;
  margin:auto;
}
.farm-detail-field{
  text-align:center;
  color:grey;
  font-weight:500;
}
.edit-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  color:black;
  display: none;
}
mat-card:hover .edit-icon{
  display: block;
}
.mat-expansion-panel-header-title{
  color:#673ab7;
  font-weight: 500;
  font-size: 1rem;
}
.ins-detail-field{
  color: grey;
  font-weight: 500;
}
.ins-plan-number, .icon-check-circle{
  color:green;
}
.ins-plan-number{
  background-color:#e0e0e0;
  text-align: center;
}
.icon-check-circle{
  vertical-align: middle;
}
.status-block {
  margin:auto;
}
