<mat-card *ngIf="cropsListLoaded">
  <agm-map [zoom]="8" [latitude]="lat" [longitude]="lng" (mapReady)="onMapReady($event)">
  </agm-map>
  <p class= "farm-area-display" *ngIf = "farmArea > 0">Area Selected: {{ farmArea.toPrecision(5) }} m<sup>2</sup>
  <span class="spacer"></span>
   <button  color="warn" mat-button id = "clear-maps" (click) = "deleteSelectedShape()">Clear</button>
  </p>
  <form [formGroup]="form" (submit)="onFarmAdd()">
    <mat-form-field>
      <mat-label>Crop</mat-label>
      <mat-select formControlName="cropType">
        <mat-option *ngFor="let crop of cropsList" [value]="crop.name">
          {{crop.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="startDatepicker" placeholder="Choose Cultivation Start Date"  formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="endDatepicker" placeholder="Choose Cultivation End Date"  formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatepicker></mat-datepicker>
      </mat-form-field>

    <mat-form-field>
      <textarea matInput rows="4" formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Add Farm</button>
    <button mat-raised-button (click)="onFarmAddCancel()" color="accent">Cancel</button>

  </form>
</mat-card>
